<div class="container mx-auto px-4 py-8">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-bold">Promotion Requirements</h1>
    <%= link_to 'New Promotion Requirement', new_users_dean_promotion_asserment_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  </div>

  <div class="bg-white shadow-md rounded my-6">
    <table class="min-w-full">
      <thead>
        <tr class="bg-gray-100 text-gray-600 uppercase text-sm leading-normal">
          <th class="py-3 px-6 text-left">Effective Date</th>
          <th class="py-3 px-6 text-left">Variable</th>
          <th class="py-3 px-6 text-left">Condition</th>
          <th class="py-3 px-6 text-left">Sections</th>
          <th class="py-3 px-6 text-left">Actions</th>
        </tr>
      </thead>
      <tbody class="text-gray-600 text-sm">
        <% @promotion_asserments.each do |asserment| %>
          <tr class="border-b border-gray-200 hover:bg-gray-100">
            <td class="py-3 px-6"><%= asserment.effective_date.strftime('%Y-%m-%d') %></td>
            <td class="py-3 px-6"><%= PromotionAsserment::VARIABLES[asserment.condition_variable] %></td>
            <td class="py-3 px-6">
              <%= asserment.condition_variable == 'overall_average' ? 'Overall Average' : 
                  asserment.condition_variable == 'course' ? Course.find(asserment.course_ids.first)&.name :
                  "Selected Courses Average" %>
              <%= asserment.condition_operator %>
              <%= asserment.condition_value %>
            </td>
            <td class="py-3 px-6"><%= asserment.sections.map(&:name).join(', ') %></td>
            <td class="py-3 px-6">
              <%= link_to 'Edit', edit_users_dean_promotion_asserment_path(asserment), class: "text-blue-500 hover:text-blue-700 mr-4" %>
              <%= button_to 'Delete', users_dean_promotion_asserment_path(asserment), method: :delete, class: "text-red-500 hover:text-red-700", data: { confirm: 'Are you sure?' }, form_class: "inline" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
