<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "School Management" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  </head>

  <body class="min-h-screen bg-gray-900 text-gray-100">
    <div class="fixed top-0 left-0 right-0 z-50">
      <% if notice %>
        <div class="p-4 mx-4 mt-4 text-sm text-green-400 bg-green-900 rounded-lg shadow-lg transition-all duration-500">
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="p-4 mx-4 mt-4 text-sm text-red-400 bg-red-900 rounded-lg shadow-lg transition-all duration-500">
          <%= alert %>
        </div>
      <% end %>
    </div>
    <main class="container mx-auto px-4 py-8 mt-16 sm:px-6 lg:px-8">
      <%= yield %>
    </main>
  </body>
</html>
